body {
    background-color: rgb(101, 124, 255);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.631) 8px 8px 8px;
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}


#dados {
padding-left: 20px;
padding-top: 20px;
}

#res {
    padding: 10px;
}