body {
    background-color: rgb(11, 62, 101);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 450px;
    height: 400px;
    box-shadow: black 2px 2px 9px 3px;
    border-radius: 10px;
    margin: auto;
    padding: 25px
    
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}


img {
    height: 250px;
    margin-right: 35px;
    
}